<div class="modal lose">
    <div class="modal-text">
        <center>
        <h1>Sign Up</h1>
        <%= form_for User.new, method: :post do |u| %>
          <%= u.text_field :username, class:"form-control", placeholder:"Username" %><br>
          <%= u.text_field :email, class:"form-control", placeholder:"Email" %><br>
          <%= u.text_field :password, class:"form-control", type:"password", placeholder:"Password" %><br>
          <%= u.text_field :password_confirmation, class:"form-control", type:"password", placeholder:"Confirm Password" %>
        <center>
          <%= u.submit class: "button-blue add-pic", :value => "Submit" %>
          <% end %>
        </center>
        </center>
    </div>
</div>
